@model UserViewModel
<script>
    document.getElementById("topbar").remove();
    document.getElementById("hero").remove();
    document.getElementById("header").remove();

</script>

@using (Html.BeginForm("SignUp", "SignUp", FormMethod.Post, new { @class = "registration-form" }))
{
    <div class="d-flex justify-content-center gap-3 flex-column align-items-center mt-2 mb-2">
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control w-100" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control w-100" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control w-100" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </div>

}


